.products {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 16px;
    margin: 16px auto;
    background-color: white;
    .product {
        cursor: pointer;
        transition: all .2s;
        &:hover {
            background-color: white;
            transform: translateY(-8px);
            box-shadow: 0 0 11px rgba(33,33,33,.3);
        }
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

.breadcrumbs-navigation {
    width: 100%;
    max-width: 800px;
    margin: 16px auto;
}