.logo {
    display: block;
    width: 60px;
    cursor: pointer;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;

    .navigation-search-box {
        max-width: 75%;
    }

}