/* You can add global styles to this file, and also import other style files */
$primary-color: #fff159;

html, body {
    margin: 0;
}

.u-background-primary {
    background-color: $primary-color;
}