/* You can add global styles to this file, and also import other style files */
$primary-color: #fff159;

html, body {
    margin: 0;
    // font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    box-sizing: border-box;
    background-color: lightgray;
}

.u-background-primary {
    background-color: $primary-color;
}